 1. Capitalizes the first character.

In [1]:
text = "hello world"
capitalized_text = text.capitalize()
print(capitalized_text)

Hello world

2. Converts to lowercase (more aggressive than lower()).

In [2]:
text = "HELLO ß Ä Ö Ü"
print(text.lower())        
print(text.casefold())

hello ß ä ö ü
hello ss ä ö ü

3. str.center(width[, fillchar])
Centers the string within the specified width.

In [3]:
text = "hi"
print(text.center(6))         
print(text.center(6, "-"))

  hi
--hi--

4. str.count(sub[, start[, end]])
Returns the number of non-overlapping occurrences of a substring.

In [4]:
text = "banana"
print(text.count("a"))       
print(text.count("an"))      
print(text.count("a", 2))

3
2
2

5. str.encode(encoding="utf-8", errors="strict")
Returns encoded version of the string.

In [5]:
text = "hello"
encoded_text = text.encode()
print(encoded_text)

b'hello'

6. str.endswith(suffix[, start[, end]])
Returns True if the string ends with the specified suffix.

In [6]:
text = "hello world"

print(text.endswith("world"))       
print(text.endswith("hello"))       
print(text.endswith("lo", 0, 5))

True
False
True

7. str.expandtabs(tabsize=8)
Replaces tabs with spaces.

In [7]:
text = "a\tb\tc"
print(text.expandtabs())       
print(text.expandtabs(4))

a       b       c
a   b   c

8. str.find(sub[, start[, end]])
Returns the lowest index of the substring; returns -1 if not found.

In [8]:
text = "hello world"

print(text.find("o"))         
print(text.find("world"))  
print(text.find("x"))         
print(text.find("l", 5))

4
6
-1
9

9. str.format(*args, **kwargs)
Formats string using the specified arguments.

#1. Positional formatting:

In [9]:
text = "My name is {} and I am {} years old."
print(text.format("Alice", 25))

My name is Alice and I am 25 years old.

#2. Keyword formatting:

In [10]:
text = "My name is {name} and I am {age} years old."
print(text.format(name="Bob", age=30))

My name is Bob and I am 30 years old.

In [11]:
#3. Reusing placeholders:
text = "{0} is {1}. {0} loves Python."
print(text.format("Alice", "a coder"))

Alice is a coder. Alice loves Python.

10. str.format_map(mapping)
Formats string using a mapping.

In [12]:
person = {"name": "Alice", "age": 25}
text = "My name is {name} and I am {age} years old."

print(text.format_map(person))

My name is Alice and I am 25 years old.

11. str.index(sub[, start[, end]])
Like find() but raises ValueError if not found.

In [13]:
text = "hello world"

print(text.index("world"))   
print(text.index("o"))

6
4

12. str.isalnum()
Returns True if all characters are alphanumeric.

In [14]:
print("hello123".isalnum())   
print("123".isalnum())        
print("hello!".isalnum())     
print("hello 123".isalnum())  
print("".isalnum())

True
True
False
False
False

13. str.isalpha()
Returns True if all characters are alphabetic.

In [15]:
print("Hello".isalpha())       
print("abcXYZ".isalpha())      
print("Hello123".isalpha())    
print("hello world".isalpha()) 
print("".isalpha())

True
True
False
False
False

14. str.isascii()
Returns True if all characters are ASCII.

In [16]:
print("Hello123!".isascii())     
print("こんにちは".isascii())      
print("café".isascii())          
print("".isascii())

True
False
False
True

15. str.isdecimal()
Returns True if all characters are decimal characters.

In [17]:
print("123".isdecimal())        
print("٠١٢٣".isdecimal())       
print("123.45".isdecimal())     
print("12a3".isdecimal())       
print("".isdecimal())

True
True
False
False
False

16. str.isdigit()
Returns True if all characters are digits.

In [18]:
print("123".isdigit())         
print("²³".isdigit())          
print("123.45".isdigit())      
print("12a3".isdigit())        
print("".isdigit())

True
True
False
False
False

17. str.isidentifier()
Returns True if string is a valid identifier.

In [19]:
print("hello".isidentifier())       
print("_value123".isidentifier())   
print("123abc".isidentifier())      
print("hello world".isidentifier())
print("for".isidentifier())

True
True
False
False
True

18. str.islower()
Returns True if all characters are lowercase.

In [20]:
print("hello".islower())       
print("hello123".islower())    
print("hello World".islower()) 
print("123".islower())         
print("".islower())

True
True
False
False
False

19. str.isnumeric()
Returns True if all characters are numeric.

In [21]:
print("123".isnumeric())       
print("²³".isnumeric())        
print("½".isnumeric())         
print("123abc".isnumeric())    
print("".isnumeric())

True
True
True
False
False

20. str.isprintable()
Returns True if all characters are printable.

In [22]:
print("Hello!".isprintable())      
print("123$%^".isprintable())      
print("Hello\nWorld".isprintable())
print("".isprintable())

True
True
False
True

21. str.isspace()
Returns True if all characters are whitespace.

In [23]:
print("   ".isspace())        
print("\t\n".isspace())       
print(" a ".isspace())        
print("".isspace())

True
True
False
False

22. str.istitle()
Returns True if the string is titlecased.

In [24]:
print("Hello World".istitle())     
print("Hello world".istitle())     
print("HELLO World".istitle())     
print("".istitle())

True
False
False
False

23. str.isupper()
Returns True if all characters are uppercase.

In [25]:
print("HELLO".isupper())        
print("HELLO123".isupper())     
print("Hello".isupper())        
print("123".isupper())          
print("".isupper())

True
True
False
False
False

24. str.join(iterable)
Joins elements of an iterable with the string as a separator.

In [26]:
words = ["Hello", "world"]
print(" ".join(words))       

names = ["Alice", "Bob", "Eve"]
print(", ".join(names))      

print("-".join("ABC"))

Hello world
Alice, Bob, Eve
A-B-C

25. str.ljust(width[, fillchar])
Left-justifies the string.

In [27]:
print(text.ljust(6))          
print(text.ljust(6, '-'))     
print(text.ljust(2))

hello world
hello world
hello world

26. str.lower()
Converts to lowercase.

In [29]:
print("HELLO".lower())         
print("Hello World!".lower())  
print("123 ABC".lower())

hello
hello world!
123 abc

27. str.lstrip([chars])
Removes leading characters (default: whitespace).

In [30]:
print("   hello".lstrip())          
print("$$$price".lstrip("$"))      
print("123abc".lstrip("123"))     
print("  \t\nhi".lstrip())

hello
price
abc
hi

28. str.maketrans(x, y=None, z=None)
Returns a translation table.

In [33]:
# Example 1: Replace letters
table = str.maketrans("abc", "123")
print("abcabc".translate(table))

123123

In [34]:
#Example 2: Delete letters
table = str.maketrans("", "", "aeiou")
print("beautiful".translate(table))

btfl

In [35]:
#Example 3: Using a dictionary
table = str.maketrans({65: 97, 66: 98})  # A→a, B→b
print("ABCD".translate(table))

abCD

29. str.partition(sep)
Splits the string at the first occurrence of sep.

In [36]:
text = "hello=world"
print(text.partition("="))

('hello', '=', 'world')

30. str.removeprefix(prefix)
Removes the specified prefix if present.

In [37]:
print("unhappy".removeprefix("un"))     
print("hello".removeprefix("he"))       
print("world".removeprefix("test"))

happy
llo
world

31. str.removesuffix(suffix)
Removes the specified suffix if present.

In [38]:
print("filename.txt".removesuffix(".txt"))   
print("hello".removesuffix("lo"))            
print("world".removesuffix("test"))

filename
hel
world

32. str.replace(old, new[, count])
Returns a copy with all occurrences of a substring replaced.

In [39]:
text = "apple apple apple"

print(text.replace("apple", "banana"))


print(text.replace("apple", "banana", 2))

banana banana banana
banana banana apple

33. str.rfind(sub[, start[, end]])
Returns the highest index of the substring.

In [40]:
text = "hello hello"

print(text.rfind("lo"))      
print(text.rfind("he"))      
print(text.rfind("x"))

9
6
-1

34. str.rindex(sub[, start[, end]])
Like rfind() but raises ValueError if not found.

In [41]:
text = "hello hello"

print(text.rindex("lo"))    
print(text.rindex("he"))

9
6

35. str.rjust(width[, fillchar])
Right-justifies the string.

In [42]:
text = "hi"

print(text.rjust(6))         
print(text.rjust(6, '-'))    
print(text.rjust(2))

    hi
----hi
hi

36. str.rsplit(sep=None, maxsplit=-1)
Splits the string from the right.

In [43]:
text = "a,b,c,d"
print(text.rsplit(",", 2))

['a,b', 'c', 'd']

37. str.rstrip([chars])
Removes trailing characters (default: whitespace).

In [44]:
print("hello   ".rstrip())         
print("banana!!!".rstrip("!"))     
print("abc123".rstrip("123"))      
print("hi\t\n".rstrip())

hello
banana
abc
hi

38. str.split(sep=None, maxsplit=-1)
Splits the string.

In [45]:
#1. Split by space (default):
text = "one two three"
print(text.split())

['one', 'two', 'three']

In [46]:
#2. Split by comma:
text = "a,b,c,d"
print(text.split(","))

['a', 'b', 'c', 'd']

In [47]:
#3. Limit number of splits:
text = "apple-orange-banana"
print(text.split("-", 1))

['apple', 'orange-banana']

39. str.splitlines([keepends])
Splits at line breaks.

In [48]:
text = "Line1\nLine2\nLine3"
print(text.splitlines())

['Line1', 'Line2', 'Line3']

40. str.startswith(prefix[, start[, end]])
Returns True if the string starts with the prefix.

In [49]:
print(text.startswith("hello"))       
print(text.startswith("world"))       
print(text.startswith("world", 6))

False
False
False

41. str.strip([chars])
Removes leading and trailing characters.

In [50]:
print("...hello...".strip("."))  
print("xyhelloxy".strip("xy"))

hello
hello

42. str.swapcase()
Swaps case of all characters.

In [51]:
print("Hello World".swapcase())    
print("PyTHon123".swapcase())      
print("123$#@".swapcase())

hELLO wORLD
pYthON123
123$#@

43. str.title()
Returns a titlecased version of the string.

In [52]:
print("hello world".title())         
print("pYtHoN is fUn".title())      
print("123 hello".title())

Hello World
Python Is Fun
123 Hello

44. str.translate(table)
Returns a translated string.

In [53]:
table = str.maketrans("abc", "123")
print("a cat and a bat".translate(table))

1 31t 1nd 1 21t

45. str.upper()
Converts all characters to uppercase.

In [54]:
print("hello".upper())          
print("Python 3.10".upper())    
print("123$".upper())

HELLO
PYTHON 3.10
123$

46. str.zfill(width)
Pads the string on the left with zeros.

In [55]:
print("42".zfill(5))       
print("-42".zfill(5))      
print("hello".zfill(10))

00042
-0042
00000hello